%footer.footer
  .content
    .footer_content Get Help !!!
    %ul.socialShare
      %li.fb
        %a{:href => "#"}
      %li.twitter
        %a{:href => "#"}
      %li.pint
        %a{:href => "#"}
      %li.google
        %a{:href => "#"}
    .clear
    .copyright © 2013 All Rights Reserved
    .clear