.banner
  = image_tag("iStock_doctors.png", :alt => "rss feed")
  .content
    .bannerText
      %h1
        Save Time
        %p Get well soon
      %a.getStarted{:href => "/doctors"} Find the right Doctor!
      %a.getStarted{:href => "#"} Get online Prescription!
  .clear