
%section.cousreListWrapper
  .container
    .row
      .courseListContainer.pull-right.searchContainer
        %h4 doctors

        %form.searchForm{name: "searchText", type: "text",filter_name: "name"}
          .searchBox
            %input{placeholder: "Search with symptom or doctor", :type => "text", class: "searchHeader"}
          %input{:type => "submit", :value => ""}

      .span3
        .filterWrapper
          .filterHeading
            %a.openFilter
            %h4 Filter criteria
            %a.resetLink#resetFilter{href: "javascript:void(0);"} Reset
          %ul.mobileAccordian
            %li
              %a
              .accordianContainer
                .inputContainer
                  %h6 location
                  .selListWrap
                    %select{class: "addressBox", title: "Select state", prompt: "Select State", tabindex: "1"})

                .inputContainer
                  %h6 Recommended For
                  - 3.times do |user_type|
                    .check_value
                      %input{filter_name: "user_types", name: "genre", type: "checkbox", value: user_type, id: "user#{user_type}"}
                      %label{for: "user#{user_type}"} Everyone

                .inputContainer
                  %h6 Category
                  %label.all{for: "check-2"} All
                  - 3.times do |c|
                    .check_value
                      %input{filter_name: "course_type", type: "checkbox", value: c,checked: (false), id: "cat#{c}"}/
                      %label{for: "cat#{c}"}

                .inputContainer
                  .check_value
                    %input#check-3{checked: true, filter_name: "is_paid", type: "checkbox", value: "0", filter_type: "int"}/
                    %label{for: "check-3"} Free
                    %input#check-4{checked: true, filter_name: "is_paid", type: "checkbox", value: "1", filter_type: "int"}/
                    %label{for: "check-4"} Paid

      .span9.courseListContainer
        %ul.dr-list
          %li
            -#%img{:src=>"images/img1.jpg"}
            .dr-info
              %h3
                Dr.Sujay R Naik
              %p
                Ophthalmologist, Eye Surgeon, Pediatric Ophthalmologist
                %br
                  practicing since 2009
              -#%img{src="images/img1.jpg"}
              %a{:href=>"javascript:void(0);"}
                Chinchwad
              %a{:href=>"javascript:void(0);"}
                Nigadi
          %li
            -#%img{:src=>"images/img1.jpg"}
            .dr-info
              %h3
                Dr.Sujay R Naik
              %p
                Ophthalmologist, Eye Surgeon, Pediatric Ophthalmologist
                %br
                  practicing since 2009
              -#%img{src="images/img1.jpg"}
              %a{:href=>"javascript:void(0);"}
                Chinchwad
              %a{:href=>"javascript:void(0);"}
                Nigadi




