%section
  .container
    .row
      .searchContainer
        .span3.bs-docs-sidebar
          .filters
          %ul Specialty
          %ul Methodology
          %ul Timings
          %ul Expirience
        .span9
          main
        .clearfix