<h2>Edit Clinic Info</h2>
<hr>
<%= simple_form_for([:admin, @clinic], :html => {:class => 'form-horizontal' }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :name => "Update" } %>
<%end%>