/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require_tree .
 */


.searchContainer{
  margin-top: 40px;
}

.courseListContainer {
  position: relative;
  margin-top: 4px;
  h4 {
    padding-left: 15px;
    float: left;
  }
  form {
    position: relative;
    float: right;
    margin: 10px 0 0 0;
    input[type="text"] {
      width: 367px;
      &::-ms-clear {
        display: none;
      }
      &:focus, &:active, &:visited {
        outline: none;
        outline: thin dotted transparent \9;
      }
    }
    input[type="submit"] {
      background: image-url("sprite_img.png");
      width: 21px;
      height: 21px;
      position: absolute;
      top: 5px;
      right: 10px;
      border: none;
      background-position: -68px -267px;
      text-indent: -9999px;
      cursor: pointer;
    }
  }
}

.cousreList {
  height: auto;overflow: hidden;
  border-top: 1px solid #bbbbbb;
  margin: 0 0 65px 0;
  clear: both;
  li {
    margin-top: 20px;
    height: auto;overflow: hidden;
  }
  h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
  }
  .courseListWrapper {
    height: auto;overflow: hidden;
    background: #f8f8f8;
    .courseImgWrapper {
      width: 217px;
      height: 154px;
      float: left;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      line-height: 154px;
      border: 1px solid #eeeeee;
      img {
        height: 154px;
        width: 217px;
        margin: auto;
        vertical-align: middle;
      }
    }
  }
  .listText {
    height: 155px;
    background: #f8f8f8;
    float: right;
    width: 480px;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    position: relative;
  }
  .CourseListHeading {
    margin: 16px 10px 2px 18px;
    line-height: 28px;
    width: 448px;
  }
  .listCourseName {
    float: left;
    width: 448px;
    overflow: hidden;
    img {
      padding-left: 18px;
    }
    span {
      display: inline-block;
      font-size: 16px;
      color: $black;
      margin-left: 7px;
    }
  }
  .tag {
    margin: 18px 10px 11px 18px;
    float: left;
    width: 448px;
    overflow: hidden;
    height: auto;overflow: hidden;
    i {
      color: #4d4d4d;
      font-size: 12px;
      background: #eeeeee;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
      display: block;
      float: left;
      margin: 0px 6px 4px 0;
      padding: 0px 2px 0px 2px;
      font-style: normal;
    }
  }
  .courseGray {
    float: left;
    width: 480px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: table;
    .viewList {
      padding: 0px 10px 0px 5px;
      width: 50px;
      text-align: center;
      float: none;
      display: table-cell;
      height: 20px;
      vertical-align: middle;
    }
    .completions {
      width: auto;
      span {
        display: block;
        float: left;
        margin-top: 6px;
      }
    }
    .CourseSocialMedia {
      li {
        margin-top: 6px;
        &:first-child {
          margin: 6px 0 0 0;
        }
      }
    }
  }
  .freeCourseGray {
    height: auto;
    overflow: hidden;
    float: left;
    width: 480px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: table;
    .price {
      background: #cd091d;
      font-size: 17px;
      color: white;
      width: 50px;
    }
    .completions {
      span {
        display: block;
        float: left;
        margin-top: 6px;
      }
    }
    .viewList {
      padding: 0px 10px 0px 5px;
      width: auto;
      text-align: center;
      float: none;
      display: table-cell;
      height: 20px;
      vertical-align: middle;
    }
    .CourseSocialMedia {
      li {
        margin-top: 6px;
        &:first-child {
          margin: 6px 0 0 0;
        }
      }
    }
  }
}

.CourseSocialMedia {
  float: right;
  margin-right: 10px;
  li {
    float: left;
    margin: 0 0px 0 10px;
    height: 25px;
    &:first-child {
      margin: 0;
    }
  }
  a {
    background: image-url("sprite_img_2x.png");
    height: 18px;
    width: 21px;
    display: block;
  }
  .CourseMail {
    background-position: -72px -125px;
  }
  .CourseLinkedIn {
    background-position: -144px -734px;
  }
  .CourseFb {
    background-position: -144px -767px;
  }
  .CourseTweet {
    background-position: -144px -800px;
  }
  .CourseGplus {
    background-position: -71px -237px;
  }
}

.filterHeading {
  overflow: hidden;
  .openFilter {
    background: url(/assets/sprite_img.png);
    height: 24px;
    width: 22px;
    display: block;
    background-position: -76px -983px;
    margin: 20px 0px 0 5px;
    float: left;
    display: none;
  }
}

.filterWrapper {
  background: #f8f8f8;
  //border: 1px solid #dddddd
  margin-bottom: 20px;
  overflow: hidden;
  h4 {
    padding: 8px 2px 8px 0;
    font-size: 20px;
    float: left;
    margin-left: 10px;
  }
  .resetLink {
    float: right;
    margin: 20px 18px 0 0;
    color: #004e94;
    font-size: 12px;
    text-decoration: underline;
    &:hover {
      color: red;
    }
  }
  h6 {
    font-family: $titilliumBold;
    font-size: 15px;
    color: #19232d;
    margin: 7px 0;
  }
  .coachSelect {
    width: 176px;
  }
}

.cousreListWrapper {
  .searchContainer {
    width: 700px;
  }
}

.inputContainer, .freeInputContainer {
  padding: 8px 20px;
  border-top: 1px solid #dddddd;
  clear: both;
  height: auto;overflow: hidden;
}

.freeInputContainer {
  margin: 28px 0px 6px;
  padding: 0;
}

.courseListHover {
  background: url(/assets/imgBackground.png);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  color: white;
  display: block;
  .viewButton {
    margin: 62px 45px 60px 46px;
    padding-left: 27px;
    width: 103px;
    float: left;
  }
  h5 {
    padding: 11px 15px 10px 16px;
    width: 62.4%;
    color: white;
  }
  .hoverCourseSocialMedia {
    float: right;
    position: absolute;
    bottom: 2px;
    right: 0px;
    li {
      float: left;
      margin: 0 10px 0 0;
      height: 25px;
      a {
        background: image-url("sprite_img_2x.png");
        height: 21px;
        width: 21px;
        display: block;
      }
      .hoverCourseMail {
        background-position: -75px -370px;
      }
      .hoverCourseLinkedIn {
        background-position: -144px -833px;
      }
      .hoverCourseFb {
        background-position: -144px -865px;
      }
      .hoverCourseTweet {
        background-position: -144px -899px;
      }
      .hoverCourseGplus {
        background-position: -76px -903px;
      }
    }
  }
  .hoveCourseMedia {
    margin-right: 11px;
  }
}

#prev3, #next3 {
  width: 20px;
  height: 30px;
  position: absolute;
  background: image-url("sprite_img_2x.png");
  display: inline-block;
  z-index: 5;
  cursor: pointer;
  top: 35px;
  &:hover, &:focus, &:active {
    text-decoration: none;
    border: none;
  }
}

#prev3 {
  background-position: -30px -960px;
  left: -35px;
}

#next3 {
  background-position: -31px -920px;
  right: -42px;
}

//Registration Page Started
.registerFormWrapper {
  background: url(/assets/banner_background_image.jpg);
  h1 {
    font-size: 30px;
    font-family: arial;
    text-align: center;
    margin-top: 44px;
  }
  .registerStepTwo {
    background: #29150f;
  }
  .registerFirstStep {
    background: #213619;
  }
  .registerLastStep {
    background: #b8c092;
  }
  .registerFormContainer {
    width: 620px;
    margin: 86px auto 200px;
    box-shadow: 0 0 20px black;
    border-radius: 4px;
    height: auto;overflow: hidden;
    .blueButton {
      padding: 7px 0px;
      margin-top: 19px;
      width: 130px;
    }
  }
  .registerSteps {
    height: auto;
    position: relative;
    width: 600px;
    margin: 43px auto 20px;
    ul {
      overflow: hidden;
      li {
        margin: 20px 0 0 110px;
        color: #627588;
        font-size: 15px;
        display: block;
        float: left;
        position: relative;
        &:first-child {
          margin: 20px 0 0 14px;
        }
      }
      .activeStep {
        color: $white;
      }
    }
  }
  .stepWrapper {
    height: 36px;
    position: relative;
    width: 503px;
    margin: 0 auto;
  }
  .firstStep {
    background: image-url("first_step.png") no-repeat;
  }
  .secondtStep {
    background: image-url("second_step.png") no-repeat;
  }
  .thiredtStep {
    background: image-url("thired_step.png") no-repeat;
  }
  .registerLeft {
    margin-left: 0;
    height: auto;
    position: relative;
    .registerLogo {
      background: image-url("logo.png") no-repeat;
      height: 78px;
      width: 55px;
      position: absolute;
      top: 0;
      left: 82px;
      z-index: 100;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .registerRight {
    background: $white;
    margin-left: 0;
    width: 400px;
  }
  .registerRightContainer {
    padding: 22px 40px 58px 49px;
    .form-horizontal {
      margin: 40px 0 0;
      .flash-error {
        text-align: center;
        color: red;
        font: 16px titillium_websemibold;
        margin-bottom: 20px;
      }
    }
    .inputRegister {
      margin: 0;
    }
    h4 {
      font-size: 20px;
    }
    .registerControl {
      margin-bottom: 14px;
      clear: both;
      height: auto;overflow: hidden;
      i {
        color: $red;
        font-style: normal;
        vertical-align: top;
      }
      .error {
        &:first-of-type {
          background-color: #ffebeb;
        }
      }
      label {
        float: left;
      }
      span {
        font-size: 11px;
        color: #aaaaaa;
      }
    }
    .showTooltip {
      a {
        display: inline-block;
        height: 25px;
        width: 25px;
        background: image-url("sprite_img.png");
        background-position: -106px -399px;
        font-size: 11px;
      }
    }
  }
  strong {
    font-size: 18px;
    margin-bottom: 11px;
    display: block;
  }
}
.closeFilter {
  padding: 6px 20px;
  display: block;
  margin: 0 0 20px 20px;
  width: 135px;
  z-index: 100;
}
.searchForm{
  float: left;
  margin: 3px 22px 2px 0;
  width: 298px;
}
.searchForm input{
  float: left;
}
.searchForm input[type='text']{
  width: 285px;
  font: normal 12px/18px verdana;
  color: #888888;
  padding-left: 10px;
  height: 23px;
  margin-right: -5px;
  border: solid 1px #cccccc;
}
.searchForm input[type='submit']{
  background: #6e6e6e url(../images/search_sprite.png) no-repeat center center;
  width: 25px;
  height: 25px;
  border: none;
  background-position: 1px -1px;
  margin-left: -21px;
}