*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: Arial;
}

.clear{
    clear: both;
}

.content{
    width: 940px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.header{
    background-color: #d4d4d4;
}

header .logo {
    /*background: url("../images/logo.png") no-repeat 90%;*/
    font-family: TitilliumWeb;
    font-size: 45px;
    font-weight: bold;
    line-height: 18px;
    color: #00bbcc;
    display: block;
    padding: 15px 0;
    float: left;
    min-height: 21px;
    text-decoration: none;
    /*margin-right: 200px;*/
}

.navigationLinks{
    float: right;
    /*margin-right: 200px;*/
}

.navigationLinks li{
    float: left;
    margin: 16px 22px;
}

.navHeading{

    font-family: TitilliumWeb;
    font-size: 16px;
    line-height: 18px;
    color: #00bbcc;
    display: block;
    text-decoration: none;
}

.navigationLinks a:hover{
    color: #3d3d3d;
}

.navigationLinks .first{
    color: #3d3d3d;
    margin-left: 0;
}
.login{
    float: right;
    border-radius: 5px;
    background-color: #00bbcc;
    border: 1px solid #00bbcc;
    color: #fff;
    text-align: center;
    width: auto;
    height: 32px;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 13px;
    box-sizing: border-box;
    margin: 10px 0 10px 10px;
}

.banner{
    background-color: #EEF1F2;
    height: 660px;
}

.banner .content{
    position: relative;
}

.banner img{
    float: right;
    background-color: #eef1f2;
    right: 0;
}

.bannerText{
    position: absolute;
    top: 100px;
}

.bannerText h1{
    font-size: 44px;
    font-family: TitilliumWeb;
    color: #222222;
    line-height: 60px;
    text-align: left;
    margin-bottom: 40px;
}


.banner .getStarted{
    background-color: #ff8a00;
    border: 1px solid #ff8a00;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    font-family: TitilliumWeb;
    font-size: 30px;
    font-weight: bold;
    padding: 45px 23px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    width: 240px;
    line-height: 31px;
    margin-right: 10px;
}

.footer{
    background-color: #00a2b1;
    padding-bottom: 50px;
}

.footer .management{
    float: left;
    font-size: 25px;
    color: #fff;
    margin-bottom: 40px;
}

.footer .started{
    padding-top: 20px;
    border-bottom: 1px solid #00919f;
    margin-bottom: 28px;


}

.footer .started a{
    float: right;
    margin-bottom: 20px;
}

.footer_content{
    float: left;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin: 30px 0 0 0;
}

.footer .socialShare{
    float: right;
    margin: 30px 0 0 0;
}

.footer .socialShare li{
    float: left;
    height: 32px;
    width: 40px;
}

.footer .socialShare li a{
    display: block;
    height: 32px;
    margin-left: 8px;
}

.footer .socialShare li.fb a{
    margin-left: 0;
    background: url("facebook.png") no-repeat;
}

.footer .socialShare li.twitter a{
    background: url("tweeter.png") no-repeat;
}

.footer .socialShare li.pint a{
    background: url("pint.png") no-repeat;
}

.footer .socialShare li.google a{
    background: url("google.png") no-repeat;
}

.copyright{
    float: left;
    margin: 0 5px 0 0;
}

.footer .termsOfServices{
    float: left;

}

.footer .termsOfServices li{
    float: left;
    padding: 0 0 0 16px;
}

.footer .termsOfServices li a{
    color: #ffffff;
}


/* sign -in */


.form-actions {
    padding: 19px 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ffffff;
    border-top: none;
}

.content .sign_container{
    margin: 90px 0;
}

.sign_container .sign_left{
    float: left;
}

.sign_container .sign_right{
    float: left;
}

.sign_container .sign_right button{
    margin: 150px;
    height: 50px;
    width: 270px;
    text-align: center;
    font-weight: bold;
}

select {
    width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.searchBox {
    float: left;
    margin: 5px 0;
}

.searchForm .searchHeaderBox {
    background: url("searchWhite.png") 5px no-repeat;
    float: left;
    height: 24px;
    width: 24px;
    background-color: #606060;
    border: 2px solid #606060;
    width: 30px;
    margin-top: 8px;
}

.searchHeader {
    float: left;
    text-align: left;
    padding-left: 10px;
    color: #dddddd;
    border: 2px solid #cccccc;
    border-right: none;
    height: 28px;
    width: 274px;
}

.searchForm input[type='submit']{
   display: none;
}